#ADS-507-01 Group 3 Final Project
#Wild and Wonderful Sales: A Way to Hike Up your Profit
#Ben Earnest, Vannesa Salazar, Renetta Nelson

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\earne\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\earne\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
#import libraries
import numpy as np
import pandas as pd
import pymysql as mysql
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import requests

In [5]:
#pull the datasets from github

go_1k = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_1k.csv"))
go_daily_sales = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_daily_sales.csv"))
go_methods = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_methods.csv"))
go_products = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_products.csv"))
go_retailers = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_retailers.csv"))

You will need to add your own local server password (need to figure out a cleaner solution)

In [4]:
# Connect to the sql server
connection = mysql.connect(host='localhost',
                         user='root',
                         password='XXXXXXXXXXX')
                          

# create cursor
cursor = connection.cursor()

#Create Database
cursor.execute("CREATE DATABASE gosales")

1

You will need to add your own local server password (need to figure out a cleaner solution)

In [6]:
#create engine to add data to sql database "gosales"
db_data = 'mysql+mysqlconnector://' + 'root' + ':' + 'XXXXXXXXXX' + '@' + 'localhost' + ':3306/' \
       + 'gosales' + '?charset=utf8mb4'
engine = create_engine(db_data)

In [7]:
# Execute the to_sql for writting DF into SQL and add to database
go_1k.to_sql('go_1k', engine, if_exists='append', index=False) 
go_daily_sales.to_sql('go_daily_sales', engine, if_exists='append', index=False) 
go_methods.to_sql('go_methods', engine, if_exists='append', index=False) 
go_products.to_sql('go_products', engine, if_exists='append', index=False) 
go_retailers.to_sql('go_retailers', engine, if_exists='append', index=False)

You will need to add your own local server password (need to figure out a cleaner solution)

In [11]:
#update connection to use go sales database
connection = mysql.connect(host='localhost',
                         user='root',
                         password='XXXXXXXXXXXX',
                         database='gosales')

We can start queries here to start working the transform part (build the tables we want to use from the database)

In [12]:
# Execute query
sql = pd.read_sql("SELECT * FROM go_daily_sales LIMIT 10", connection)
sql

,Retailer code,Product number,Order method code,Date,Quantity,Unit price,Unit sale price
0,1201,109110,4,2015-01-12,648,76.86,71.48
1,1201,112110,4,2015-01-12,799,10.64,10.21
2,1201,115110,4,2015-01-12,755,10.71,10.28
3,1205,70240,3,2015-01-12,70,122.70,114.11
4,1205,71110,3,2015-01-12,28,95.62,92.75
5,1215,73110,2,2015-01-12,3992,12.78,11.89
6,1215,83110,2,2015-01-12,156,96.44,89.69
7,1215,86110,2,2015-01-12,2615,6.00,5.58
8,1215,93110,2,2015-01-12,1913,5.00,4.65
9,1215,96110,2,2015-01-12,493,23.00,22.08