In [1]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
from sqlalchemy.pool import Pool
import mysql.connector
import json
import csv
import os

import numpy as np
import pymysql as mysql
import matplotlib.pyplot as plt
import requests
import getpass

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/vannesasalazar/opt/anaconda3/lib/python3.9/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/vannesasalazar/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)

In [2]:
###############################################
# Cleaning the Data
###############################################

# Extract the Data

In [97]:
#extract the data 


go_1k = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_1k.csv"))
go_daily_sales = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_daily_sales.csv"))
go_methods = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_methods.csv"))
go_products = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_products.csv"))
go_retailers = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/go_retailers.csv"))
cpi_monthly = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/1_month_percent_change_in_CPI.csv"))
unemploy_monthly = pd.DataFrame(pd.read_csv("https://github.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/raw/main/GOSales_data/Monthly_unemployment_rate.csv"))
cci_monthly = pd.DataFrame(pd.read_csv("https://raw.githubusercontent.com/RenettaNelson/ADS-507---SQL-Data-Pipeline/main/GOSales_data/CCI%20CSV.csv"))

In [69]:
go_1k.shape

(1000, 6)

In [4]:
go_1k['Retailer code'].describe

<bound method NDFrame.describe of 0      1115
1      1115
2      1115
3      1132
4      1132
       ...
995    1749
996    1756
997    1760
998    1762
999    1766
Name: Retailer code, Length: 1000, dtype: int64>

In [5]:
go_1k.head()

   Retailer code  Product number        Date  Quantity
0           1115          125110  2016-02-09        46
1           1115          144180  2016-04-21        19
2           1115          149140  2017-02-14        11
3           1132           92110  2017-06-13       232
4           1132           96110  2018-06-20        37

In [6]:
go_daily_sales.head()

,Retailer code,Product number,Order method code,Date,Quantity,Unit price,Unit sale price
0,1201,109110,4,2015-01-12,648,76.86,71.48
1,1201,112110,4,2015-01-12,799,10.64,10.21
2,1201,115110,4,2015-01-12,755,10.71,10.28
3,1205,70240,3,2015-01-12,70,122.70,114.11
4,1205,71110,3,2015-01-12,28,95.62,92.75

In [7]:
cci_monthly.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-01,98.33976,NaN
1,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-02,98.64955,NaN
2,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-03,98.96025,NaN
3,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-04,99.13481,NaN
4,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-05,99.21778,NaN

# Data wrangling

In [8]:
cci_monthly.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-01,98.33976,NaN
1,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-02,98.64955,NaN
2,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-03,98.96025,NaN
3,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-04,99.13481,NaN
4,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-05,99.21778,NaN

In [98]:
cci_monthly['Year'] = pd.DatetimeIndex(cci_monthly['TIME']).year
cci_monthly['Month'] = pd.DatetimeIndex(cci_monthly['TIME']).month
cci_monthly.head()

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,Year,Month
0,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-01,98.33976,NaN,2014,1
1,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-02,98.64955,NaN,2014,2
2,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-03,98.96025,NaN,2014,3
3,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-04,99.13481,NaN,2014,4
4,G-20,CCI,AMPLITUD,LTRENDIDX,M,2014-05,99.21778,NaN,2014,5

In [ ]:
drop

In [99]:
go_daily_sales['Year'] = pd.DatetimeIndex(go_daily_sales['Date']).year
go_daily_sales['Month'] = pd.DatetimeIndex(go_daily_sales['Date']).month
go_daily_sales.head()

,Retailer code,Product number,Order method code,Date,Quantity,Unit price,Unit sale price,Year,Month
0,1201,109110,4,2015-01-12,648,76.86,71.48,2015,1
1,1201,112110,4,2015-01-12,799,10.64,10.21,2015,1
2,1201,115110,4,2015-01-12,755,10.71,10.28,2015,1
3,1205,70240,3,2015-01-12,70,122.70,114.11,2015,1
4,1205,71110,3,2015-01-12,28,95.62,92.75,2015,1

In [100]:
go_1k['Year'] = pd.DatetimeIndex(go_1k['Date']).year
go_1k['Month'] = pd.DatetimeIndex(go_1k['Date']).month
go_1k.head()

   Retailer code  Product number        Date  Quantity  Year  Month
0           1115          125110  2016-02-09        46  2016      2
1           1115          144180  2016-04-21        19  2016      4
2           1115          149140  2017-02-14        11  2017      2
3           1132           92110  2017-06-13       232  2017      6
4           1132           96110  2018-06-20        37  2018      6

In [101]:
go_1k.columns = go_1k.columns.str.replace(' ', '_')
go_1k.head()

   Retailer_code  Product_number        Date  Quantity  Year  Month
0           1115          125110  2016-02-09        46  2016      2
1           1115          144180  2016-04-21        19  2016      4
2           1115          149140  2017-02-14        11  2017      2
3           1132           92110  2017-06-13       232  2017      6
4           1132           96110  2018-06-20        37  2018      6

In [102]:
go_daily_sales.columns = go_daily_sales.columns.str.replace(' ', '_')
go_daily_sales.head()

,Retailer_code,Product_number,Order_method_code,Date,Quantity,Unit_price,Unit_sale_price,Year,Month
0,1201,109110,4,2015-01-12,648,76.86,71.48,2015,1
1,1201,112110,4,2015-01-12,799,10.64,10.21,2015,1
2,1201,115110,4,2015-01-12,755,10.71,10.28,2015,1
3,1205,70240,3,2015-01-12,70,122.70,114.11,2015,1
4,1205,71110,3,2015-01-12,28,95.62,92.75,2015,1

In [131]:
# go_1k['Date'] = go_1k['Date'].values.astype('datetime64[M]')
# print (go_1k)

In [132]:
# go_daily_sales['Date'] = go_daily_sales['Date'].values.astype('datetime64[M]')
# print (go_daily_sales)

In [133]:
# ### Correct time to match other tables format. 
# cci_monthly['TIME'] = cci_monthly['TIME'].values.astype('datetime64[M]')
# print (cci_monthly)

In [104]:
cci_monthly = cci_monthly.rename(columns={"TIME": "Date"})

In [105]:
### drop flag codes columns due to NAN and irrelevance
cci_monthly = cci_monthly.drop(['Flag Codes', 'LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'Date'], axis=1)

In [106]:
go_1k = go_1k.drop(['Date'], axis=1)

In [135]:
# go_1k = go_1k.drop(['Retailer_code'], axis=1)

In [136]:
# go_daily_sales = go_daily_sales.drop(['Retailer_code'], axis=1)

# Create Tables & Insert Records

In [85]:
###############################################
# Creating the Tables
###############################################

In [110]:
test = pd.merge(cci_monthly, go_1k, how='inner',
                 left_on=['Month', 'Year'],
                 right_on=['Month', 'Year'])
merged.head()

      Value  Year  Month  Retailer_code  Product_number  Quantity
0  99.97893  2015      1           1133          134120       222
1  99.97893  2015      1           1137           25110       198
2  99.97893  2015      1           1137          144180        21
3  99.97893  2015      1           1192          143120       159
4  99.97893  2015      1           1194          125120        16

In [111]:
test.head()

      Value  Year  Month  Retailer_code  Product_number  Quantity
0  99.97893  2015      1           1133          134120       222
1  99.97893  2015      1           1137           25110       198
2  99.97893  2015      1           1137          144180        21
3  99.97893  2015      1           1192          143120       159
4  99.97893  2015      1           1194          125120        16

In [112]:
test.shape

(1000, 6)

In [28]:
# test = pd.concat([cci_monthly, go_1k, go_daily_sales])

In [113]:
test.isnull().sum()

Value             0
Year              0
Month             0
Retailer_code     0
Product_number    0
Quantity          0
dtype: int64

In [114]:
test.isnull().values.any()

False

In [115]:
test.dtypes

Value             float64
Year                int64
Month               int64
Retailer_code       int64
Product_number      int64
Quantity            int64
dtype: object

In [116]:
test.dtypes

Value             float64
Year                int64
Month               int64
Retailer_code       int64
Product_number      int64
Quantity            int64
dtype: object

In [117]:
test.head()

      Value  Year  Month  Retailer_code  Product_number  Quantity
0  99.97893  2015      1           1133          134120       222
1  99.97893  2015      1           1137           25110       198
2  99.97893  2015      1           1137          144180        21
3  99.97893  2015      1           1192          143120       159
4  99.97893  2015      1           1194          125120        16

In [25]:
# # Connect to the sql server

# import mysql.connector as mysql
# from mysql.connector import Error

# try:
#     conn = mysql.connect(host='localhost',
#                          user='root',
#                          password=getpass.getpass(prompt='Password:',stream=None))
#     if conn.is_connected():
#         cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE go_1kDB")
#         print("go1k_DB database created")
        
# except Error as e:
#     print("Error connecting to MySQL", e)

Password:········
testDB database created

In [119]:
# Connect to the sql server

import mysql.connector as mysql
from mysql.connector import Error

try:
    conn = mysql.connect(host='localhost',
                         user='root',
                         password=getpass.getpass(prompt='Password:',stream=None))
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE testDB")
        print("test_DB database created")
        
except Error as e:
    print("Error connecting to MySQL", e)

Password:········
test_DB database created

In [32]:
# try:
#     conn = mysql.connect(host='localhost',
#                         database='go_1kDB', user='root',
#                         password=getpass.getpass(prompt='Password:',stream=None))
#     if conn.is_connected():
#         cursor = conn.cursor()
#         cursor.execute("select database();")
#         record = cursor.fetchone()
#         print("You are connected to the db: ", record)
#         cursor.execute('DROP TABLE IF EXISTS go_1k;')
#         print('Creating table....')
#         cursor.execute("CREATE TABLE go_1k (Retailer_code INT(255)NOT NULL, Product_number INT(255)Not NULL, Date CHAR(20)NOT NULL,Quantity INT(255)NOT NULL, Year INT(255) NOT NULL, Month INT(255)NOT NULL)")
#         print("go_1k table is created....")
#         for i, row in go_1k.iterrows():
#             sql = "INSERT INTO go_1kDB.go_1k VALUES (%s,%s,%s,%s,%s,%s)"
#             cursor.execute(sql, tuple(row))
#             print("Record Inserted")
#                        # the connection is not autocommited by default, so we must commit
#                        # to save our changes
#             conn.commit()
# except Error as e:
#                        print("Error while connected to MySQL", e)

In [121]:
test.dtypes

Value             float64
Year                int64
Month               int64
Retailer_code       int64
Product_number      int64
Quantity            int64
dtype: object

In [122]:
try:
    conn = mysql.connect(host='localhost',
                        database='testDB', user='root',
                        password=getpass.getpass(prompt='Password:',stream=None))
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You are connected to the db: ", record)
        cursor.execute('DROP TABLE IF EXISTS test;')
        print('Creating table....')
        cursor.execute("CREATE TABLE test (Retailer_code INT(255)NOT NULL, Product_number INT(255)NOT NULL, Quantity INT(255)NOT NULL, Year INT(255) NOT NULL, Month INT(255)NOT NULL, Value FLOAT(20)NOT NULL)")
        print("test table is created....")
        for i, row in test.iterrows():
            sql = "INSERT INTO testDB.test VALUES (%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record Inserted")
                       # the connection is not autocommited by default, so we must commit
                       # to save our changes
            conn.commit()
except Error as e:
                       print("Error while connected to MySQL", e)

Password:········
You are connected to the db:  ('testdb',)
Creating table....
test table is created....
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted

Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted
Record Inserted

In [123]:
# execute query
sql = "SELECT * FROM test"
cursor.execute(sql)

#fetch all records
result = cursor.fetchall()
for i in result:
    print(i)

(100, 2015, 1, 1133, 134120, 222.0)
(100, 2015, 1, 1137, 25110, 198.0)
(100, 2015, 1, 1137, 144180, 21.0)
(100, 2015, 1, 1192, 143120, 159.0)
(100, 2015, 1, 1194, 125120, 16.0)
(100, 2015, 1, 1201, 22110, 333.0)
(100, 2015, 1, 1206, 144150, 12.0)
(100, 2015, 1, 1218, 124190, 37.0)
(100, 2015, 1, 1223, 145170, 2.0)
(100, 2015, 1, 1268, 147180, 17.0)
(100, 2015, 1, 1271, 147110, 24.0)
(100, 2015, 1, 1272, 99110, 445.0)
(100, 2015, 1, 1272, 126130, 42.0)
(100, 2015, 1, 1272, 143120, 17.0)
(100, 2015, 1, 1277, 125110, 98.0)
(100, 2015, 1, 1282, 12110, 77.0)
(100, 2015, 1, 1282, 145170, 16.0)
(100, 2015, 1, 1405, 128140, 76.0)
(100, 2015, 2, 1137, 23110, 265.0)
(100, 2015, 2, 1148, 23110, 265.0)
(100, 2015, 2, 1192, 143110, 95.0)
(100, 2015, 2, 1196, 141110, 42.0)
(100, 2015, 2, 1196, 143110, 4.0)
(100, 2015, 2, 1229, 106110, 38.0)
(100, 2015, 2, 1235, 97110, 313.0)
(100, 2015, 2, 1238, 147180, 200.0)
(100, 2015, 2, 1247, 126130, 271.0)
(100, 2015, 2, 1274, 102110, 87.0)
(100, 2015, 2, 1311, 145130, 27.0)
(100, 2015, 2, 1447, 126140, 194.0)
(100, 2015, 2, 1566, 144180, 52.0)
(100, 2015, 2, 1756, 144180, 14.0)
(100, 2015, 2, 1762, 144180, 32.0)
(100, 2015, 3, 1135, 134120, 38.0)
(100, 2015, 3, 1158, 70240, 75.0)
(100, 2015, 3, 1201, 40110, 706.0)
(100, 2015, 3, 1206, 136140, 30.0)
(100, 2015, 3, 1206, 143120, 56.0)
(100, 2015, 3, 1209, 147120, 54.0)
(100, 2015, 3, 1213, 125120, 156.0)
(100, 2015, 3, 1216, 147120, 38.0)
(100, 2015, 3, 1229, 144170, 23.0)
(100, 2015, 3, 1259, 129160, 3.0)
(100, 2015, 3, 1272, 99110, 328.0)
(100, 2015, 3, 1405, 68110, 97.0)
(100, 2015, 3, 1516, 126140, 96.0)
(100, 2015, 3, 1621, 143120, 253.0)
(101, 2015, 4, 1137, 32110, 350.0)
(101, 2015, 4, 1192, 29110, 263.0)
(101, 2015, 4, 1200, 128140, 14.0)
(101, 2015, 4, 1223, 125110, 22.0)
(101, 2015, 4, 1227, 115110, 1331.0)
(101, 2015, 4, 1259, 130130, 25.0)
(101, 2015, 4, 1259, 131120, 32.0)
(101, 2015, 4, 1272, 143110, 60.0)
(101, 2015, 4, 1311, 128150, 59.0)
(101, 2015, 4, 1497, 144180, 34.0)
(101, 2015, 4, 1501, 92110, 386.0)
(100, 2015, 5, 1148, 135110, 5.0)
(100, 2015, 5, 1201, 29110, 352.0)
(100, 2015, 5, 1205, 144180, 68.0)
(100, 2015, 5, 1218, 131120, 31.0)
(100, 2015, 5, 1235, 97110, 265.0)
(100, 2015, 5, 1272, 28110, 770.0)
(100, 2015, 5, 1275, 147160, 275.0)
(100, 2015, 5, 1280, 112110, 412.0)
(100, 2015, 5, 1282, 21110, 285.0)
(100, 2015, 6, 1135, 127110, 45.0)
(100, 2015, 6, 1137, 128150, 19.0)
(100, 2015, 6, 1137, 135120, 8.0)
(100, 2015, 6, 1201, 128140, 81.0)
(100, 2015, 6, 1204, 20110, 332.0)
(100, 2015, 6, 1213, 126140, 49.0)
(100, 2015, 6, 1216, 128150, 12.0)
(100, 2015, 6, 1216, 147160, 34.0)
(100, 2015, 6, 1272, 68110, 90.0)
(100, 2015, 6, 1309, 29110, 185.0)
(100, 2015, 6, 1311, 75110, 231.0)
(100, 2015, 7, 1148, 31110, 76.0)
(100, 2015, 7, 1148, 123120, 40.0)
(100, 2015, 7, 1189, 126110, 119.0)
(100, 2015, 7, 1201, 124190, 26.0)
(100, 2015, 7, 1211, 154150, 39.0)
(100, 2015, 7, 1216, 124140, 14.0)
(100, 2015, 7, 1216, 145170, 2.0)
(100, 2015, 7, 1216, 147160, 36.0)
(100, 2015, 7, 1220, 145170, 30.0)
(100, 2015, 7, 1230, 145130, 2.0)
(100, 2015, 7, 1260, 65110, 74.0)
(100, 2015, 7, 1282, 33110, 226.0)
(100, 2015, 7, 1556, 96110, 559.0)
(100, 2015, 7, 1709, 145170, 33.0)
(100, 2015, 8, 1148, 88110, 462.0)
(100, 2015, 8, 1148, 93110, 1192.0)
(100, 2015, 8, 1149, 114110, 43.0)
(100, 2015, 8, 1151, 126140, 38.0)
(100, 2015, 8, 1192, 9110, 1265.0)
(100, 2015, 8, 1196, 124190, 17.0)
(100, 2015, 8, 1196, 126140, 13.0)
(100, 2015, 8, 1216, 126110, 9.0)
(100, 2015, 8, 1218, 147150, 99.0)
(100, 2015, 8, 1218, 147180, 132.0)
(100, 2015, 8, 1260, 95110, 940.0)
(100, 2015, 8, 1274, 105110, 98.0)
(100, 2015, 8, 1282, 21110, 340.0)
(100, 2015, 8, 1311, 132120, 72.0)
(100, 2015, 8, 1513, 147110, 306.0)
(100, 2015, 8, 1520, 69110, 60.0)
(100, 2015, 9, 1135, 144180, 3.0)
(100, 2015, 9, 1137, 126140, 120.0)
(100, 2015, 9, 1147, 125110, 109.0)
(100, 2015, 9, 1148, 82110, 544.0)
(100, 2015, 9, 1189, 143110, 131.0)
(100, 2015, 9, 1206, 141110, 19.0)
(100, 2015, 9, 1213, 125110, 19.0)
(100, 2015, 9, 1213, 126110, 32.0)
(100, 2015, 9, 1235, 40110, 563.0)
(100, 2015, 9, 1261, 147120, 65.0)
(100, 2015, 9, 1268, 124110, 160.0)
(100, 2015, 9, 1271, 128140, 63.0)
(100, 2015, 9, 1272, 123120, 53.0)
(100, 2015, 9, 1282, 29110, 263.0)
(100, 2015, 9, 1282, 41110, 63.0)
(100, 2015, 9, 1289, 105110, 18.0)
(100, 2015, 9, 1467, 97110, 286.0)
(100, 2015, 9, 1605, 124190, 102.0)
(100, 2015, 9, 1621, 143110, 249.0)
(100, 2015, 9, 1749, 22110, 336.0)
(100, 2015, 10, 1135, 135120, 14.0)
(100, 2015, 10, 1148, 40110, 525.0)
(100, 2015, 10, 1189, 144180, 35.0)
(100, 2015, 10, 1192, 126130, 17.0)
(100, 2015, 10, 1196, 145170, 15.0)
(100, 2015, 10, 1211, 124140, 55.0)
(100, 2015, 10, 1218, 144120, 20.0)
(100, 2015, 10, 1225, 145170, 5.0)
(100, 2015, 10, 1226, 1110, 2107.0)
(100, 2015, 10, 1272, 72110, 34.0)
(100, 2015, 10, 1272, 95110, 1507.0)
(100, 2015, 10, 1272, 135110, 16.0)
(100, 2015, 10, 1272, 143120, 51.0)
(100, 2015, 10, 1275, 147120, 170.0)
(100, 2015, 10, 1279, 125110, 21.0)
(100, 2015, 10, 1282, 93110, 1380.0)
(100, 2015, 10, 1357, 145170, 23.0)
(100, 2015, 10, 1424, 126110, 83.0)
(100, 2015, 11, 1133, 143110, 95.0)
(100, 2015, 11, 1137, 128140, 101.0)
(100, 2015, 11, 1148, 39110, 84.0)
(100, 2015, 11, 1192, 140110, 8.0)
(100, 2015, 11, 1196, 126140, 196.0)
(100, 2015, 11, 1205, 126140, 342.0)
(100, 2015, 11, 1216, 147120, 61.0)
(100, 2015, 11, 1218, 126110, 24.0)
(100, 2015, 11, 1223, 124130, 58.0)
(100, 2015, 11, 1229, 107110, 40.0)
(100, 2015, 11, 1235, 32110, 366.0)
(100, 2015, 11, 1235, 144180, 14.0)
(100, 2015, 11, 1259, 89110, 1303.0)
(100, 2015, 11, 1259, 144150, 3.0)
(100, 2015, 11, 1260, 88110, 482.0)
(100, 2015, 11, 1271, 144180, 5.0)
(100, 2015, 11, 1280, 143120, 43.0)
(100, 2015, 11, 1281, 124190, 64.0)
(100, 2015, 11, 1282, 7110, 430.0)
(100, 2015, 11, 1282, 82110, 1349.0)
(100, 2015, 12, 1216, 144180, 8.0)
(100, 2015, 12, 1218, 126140, 28.0)
(100, 2015, 12, 1223, 132110, 27.0)
(100, 2015, 12, 1224, 126110, 50.0)
(100, 2015, 12, 1225, 144180, 20.0)
(100, 2015, 12, 1272, 24110, 626.0)
(100, 2015, 12, 1282, 112110, 523.0)
(100, 2015, 12, 1309, 125120, 80.0)
(100, 2015, 12, 1311, 132120, 82.0)
(100, 2015, 12, 1715, 126140, 250.0)
(100, 2016, 1, 1137, 15110, 35.0)
(100, 2016, 1, 1149, 135120, 13.0)
(100, 2016, 1, 1189, 145160, 23.0)
(100, 2016, 1, 1206, 144180, 15.0)
(100, 2016, 1, 1213, 126110, 10.0)
(100, 2016, 1, 1225, 140110, 10.0)
(100, 2016, 1, 1225, 145160, 11.0)
(100, 2016, 1, 1226, 54110, 350.0)
(100, 2016, 1, 1229, 147180, 107.0)
(100, 2016, 1, 1235, 89110, 778.0)
(100, 2016, 1, 1238, 127130, 154.0)
(100, 2016, 1, 1241, 125110, 58.0)
(100, 2016, 1, 1247, 143110, 27.0)
(100, 2016, 1, 1260, 69120, 10.0)
(100, 2016, 1, 1272, 89110, 1118.0)
(100, 2016, 1, 1277, 53110, 307.0)
(100, 2016, 1, 1282, 64110, 36.0)
(100, 2016, 1, 1405, 71110, 27.0)
(100, 2016, 1, 1424, 126140, 33.0)
(100, 2016, 1, 1626, 128140, 111.0)
(100, 2016, 2, 1115, 125110, 46.0)
(100, 2016, 2, 1137, 3110, 406.0)
(100, 2016, 2, 1137, 123120, 151.0)
(100, 2016, 2, 1147, 131120, 59.0)
(100, 2016, 2, 1151, 46110, 264.0)
(100, 2016, 2, 1192, 110110, 65.0)
(100, 2016, 2, 1201, 113110, 977.0)
(100, 2016, 2, 1209, 140110, 8.0)
(100, 2016, 2, 1213, 37110, 52.0)
(100, 2016, 2, 1213, 130110, 7.0)
(100, 2016, 2, 1226, 144150, 33.0)
(100, 2016, 2, 1260, 22110, 382.0)
(100, 2016, 2, 1260, 106110, 18.0)
(100, 2016, 2, 1261, 143120, 107.0)
(100, 2016, 2, 1270, 102110, 101.0)
(100, 2016, 2, 1275, 145130, 6.0)
(100, 2016, 2, 1294, 57110, 196.0)
(100, 2016, 2, 1311, 34110, 97.0)
(100, 2016, 2, 1498, 128140, 143.0)
(100, 2016, 2, 1512, 129130, 18.0)
(100, 2016, 2, 1731, 144180, 41.0)
(100, 2016, 2, 1744, 145170, 31.0)
(100, 2016, 3, 1147, 84110, 128.0)
(100, 2016, 3, 1151, 51110, 170.0)
(100, 2016, 3, 1192, 128140, 10.0)
(100, 2016, 3, 1205, 70240, 40.0)
(100, 2016, 3, 1206, 126110, 116.0)
(100, 2016, 3, 1213, 68110, 30.0)
(100, 2016, 3, 1271, 125120, 4.0)
(100, 2016, 3, 1272, 147110, 40.0)
(100, 2016, 3, 1280, 147130, 101.0)
(100, 2016, 3, 1280, 147130, 127.0)
(100, 2016, 3, 1281, 128140, 48.0)
(100, 2016, 3, 1282, 66110, 18.0)
(100, 2016, 3, 1405, 68110, 57.0)
(100, 2016, 3, 1501, 92110, 953.0)
(100, 2016, 3, 1556, 92110, 1503.0)
(100, 2016, 3, 1579, 68110, 13.0)
(100, 2016, 3, 1631, 147110, 481.0)
(100, 2016, 3, 1684, 144180, 71.0)
(100, 2016, 4, 1115, 144180, 19.0)
(100, 2016, 4, 1133, 144180, 9.0)
(100, 2016, 4, 1137, 154150, 44.0)
(100, 2016, 4, 1148, 82110, 281.0)
(100, 2016, 4, 1196, 123110, 71.0)
(100, 2016, 4, 1201, 37110, 48.0)
(100, 2016, 4, 1201, 131120, 25.0)
(100, 2016, 4, 1206, 125120, 14.0)
(100, 2016, 4, 1206, 132170, 10.0)
(100, 2016, 4, 1225, 132120, 11.0)
(100, 2016, 4, 1228, 144180, 6.0)
(100, 2016, 4, 1258, 27110, 89.0)
(100, 2016, 4, 1277, 144180, 2.0)
(100, 2016, 4, 1309, 148130, 26.0)
(100, 2016, 4, 1311, 80110, 41.0)
(100, 2016, 4, 1405, 68110, 24.0)
(100, 2016, 4, 1424, 129130, 17.0)
(100, 2016, 5, 1135, 128140, 15.0)
(100, 2016, 5, 1135, 143120, 103.0)
(100, 2016, 5, 1137, 122120, 84.0)
(100, 2016, 5, 1147, 77110, 23.0)
(100, 2016, 5, 1148, 128150, 7.0)
(100, 2016, 5, 1192, 69110, 42.0)
(100, 2016, 5, 1192, 97110, 99.0)
(100, 2016, 5, 1204, 46110, 328.0)
(100, 2016, 5, 1213, 129130, 7.0)
(100, 2016, 5, 1216, 144180, 7.0)
(100, 2016, 5, 1229, 126140, 72.0)
(100, 2016, 5, 1247, 154150, 35.0)
(100, 2016, 5, 1259, 133110, 14.0)
(100, 2016, 5, 1271, 126140, 34.0)
(100, 2016, 5, 1271, 147120, 51.0)
(100, 2016, 5, 1274, 149140, 35.0)
(100, 2016, 5, 1281, 52110, 284.0)
(100, 2016, 5, 1282, 147170, 212.0)
(100, 2016, 5, 1286, 115110, 260.0)
(100, 2016, 5, 1289, 144150, 2.0)
(100, 2016, 5, 1349, 141110, 18.0)
(100, 2016, 5, 1424, 126140, 19.0)
(100, 2016, 5, 1766, 125110, 7.0)
(100, 2016, 6, 1149, 122120, 3.0)
(100, 2016, 6, 1151, 129130, 29.0)
(100, 2016, 6, 1189, 132120, 21.0)
(100, 2016, 6, 1194, 144180, 39.0)
(100, 2016, 6, 1194, 145170, 28.0)
(100, 2016, 6, 1195, 127110, 108.0)
(100, 2016, 6, 1196, 125110, 55.0)
(100, 2016, 6, 1206, 148110, 54.0)
(100, 2016, 6, 1216, 144180, 9.0)
(100, 2016, 6, 1225, 127130, 43.0)
(100, 2016, 6, 1229, 126110, 27.0)
(100, 2016, 6, 1230, 125120, 73.0)
(100, 2016, 6, 1238, 147120, 138.0)
(100, 2016, 6, 1260, 101110, 67.0)
(100, 2016, 6, 1272, 143120, 34.0)
(100, 2016, 6, 1283, 132120, 5.0)
(100, 2016, 6, 1469, 68110, 37.0)
(100, 2016, 6, 1631, 126110, 88.0)
(100, 2016, 7, 1134, 63140, 57.0)
(100, 2016, 7, 1135, 126140, 32.0)
(100, 2016, 7, 1135, 147120, 32.0)
(100, 2016, 7, 1148, 131120, 14.0)
(100, 2016, 7, 1151, 56110, 91.0)
(100, 2016, 7, 1192, 31110, 399.0)
(100, 2016, 7, 1194, 68110, 16.0)
(100, 2016, 7, 1200, 145170, 10.0)
(100, 2016, 7, 1206, 143110, 26.0)
(100, 2016, 7, 1213, 125150, 22.0)
(100, 2016, 7, 1216, 123120, 23.0)
(100, 2016, 7, 1216, 147170, 15.0)
(100, 2016, 7, 1225, 143110, 31.0)
(100, 2016, 7, 1235, 23110, 31.0)
(100, 2016, 7, 1245, 125110, 30.0)
(100, 2016, 7, 1257, 132110, 35.0)
(100, 2016, 7, 1268, 144180, 25.0)
(100, 2016, 7, 1272, 22110, 374.0)
(100, 2016, 7, 1272, 71110, 29.0)
(100, 2016, 7, 1277, 135120, 11.0)
(100, 2016, 7, 1281, 144180, 15.0)
(100, 2016, 7, 1282, 63110, 97.0)
(100, 2016, 7, 1311, 125110, 27.0)
(100, 2016, 7, 1311, 144150, 24.0)
(100, 2016, 7, 1579, 68110, 26.0)
(100, 2016, 7, 1621, 126110, 93.0)
(100, 2016, 7, 1697, 144180, 40.0)
(100, 2016, 8, 1137, 68120, 12.0)
(100, 2016, 8, 1147, 100110, 103.0)
(100, 2016, 8, 1148, 147150, 47.0)
(100, 2016, 8, 1194, 125110, 98.0)
(100, 2016, 8, 1201, 106110, 94.0)
(100, 2016, 8, 1204, 129180, 16.0)
(100, 2016, 8, 1206, 122120, 33.0)
(100, 2016, 8, 1209, 145170, 18.0)
(100, 2016, 8, 1213, 69110, 35.0)
(100, 2016, 8, 1225, 141110, 11.0)
(100, 2016, 8, 1272, 132150, 57.0)
(100, 2016, 8, 1278, 132120, 41.0)
(100, 2016, 8, 1282, 31110, 569.0)
(100, 2016, 8, 1283, 144180, 43.0)
(100, 2016, 8, 1311, 144150, 33.0)
(100, 2016, 8, 1469, 126110, 78.0)
(100, 2016, 8, 1531, 63130, 84.0)
(100, 2016, 8, 1579, 68120, 7.0)
(100, 2016, 8, 1737, 144180, 38.0)
(100, 2016, 9, 1137, 94110, 1402.0)
(100, 2016, 9, 1137, 125120, 26.0)
(100, 2016, 9, 1137, 126140, 79.0)
(100, 2016, 9, 1137, 128140, 69.0)
(100, 2016, 9, 1137, 144120, 27.0)
(100, 2016, 9, 1149, 125120, 35.0)
(100, 2016, 9, 1225, 147130, 51.0)
(100, 2016, 9, 1229, 106110, 67.0)
(100, 2016, 9, 1241, 129150, 5.0)
(100, 2016, 9, 1268, 53110, 206.0)
(100, 2016, 9, 1272, 131120, 32.0)
(100, 2016, 9, 1282, 23110, 328.0)
(100, 2016, 9, 1286, 109110, 220.0)
(100, 2016, 9, 1294, 48110, 220.0)
(100, 2016, 9, 1475, 69120, 15.0)
(100, 2016, 10, 1137, 149120, 60.0)
(100, 2016, 10, 1151, 55110, 170.0)
(100, 2016, 10, 1189, 127110, 279.0)
(100, 2016, 10, 1194, 68230, 21.0)
(100, 2016, 10, 1195, 57110, 318.0)
(100, 2016, 10, 1196, 126140, 224.0)
(100, 2016, 10, 1201, 105110, 88.0)
(100, 2016, 10, 1201, 129130, 10.0)
(100, 2016, 10, 1216, 127130, 181.0)
(100, 2016, 10, 1218, 129150, 11.0)
(100, 2016, 10, 1223, 145170, 1.0)
(100, 2016, 10, 1225, 7110, 465.0)
(100, 2016, 10, 1225, 104110, 39.0)
(100, 2016, 10, 1225, 115110, 407.0)
(100, 2016, 10, 1226, 48110, 296.0)
(100, 2016, 10, 1241, 126140, 36.0)
(100, 2016, 10, 1245, 154150, 9.0)
(100, 2016, 10, 1255, 130110, 9.0)
(100, 2016, 10, 1258, 50110, 2559.0)
(100, 2016, 10, 1268, 144180, 15.0)
(100, 2016, 10, 1271, 130110, 3.0)
(100, 2016, 10, 1282, 1110, 1638.0)
(100, 2016, 10, 1282, 9110, 1360.0)
(100, 2016, 10, 1294, 145130, 7.0)
(100, 2016, 10, 1294, 145130, 4.0)
(100, 2016, 10, 1709, 144180, 41.0)
(100, 2016, 11, 1158, 63130, 72.0)
(100, 2016, 11, 1189, 129180, 26.0)
(100, 2016, 11, 1192, 115110, 330.0)
(100, 2016, 11, 1195, 145170, 5.0)
(100, 2016, 11, 1200, 127110, 155.0)
(100, 2016, 11, 1201, 131110, 8.0)
(100, 2016, 11, 1201, 132110, 27.0)
(100, 2016, 11, 1201, 132110, 19.0)
(100, 2016, 11, 1204, 125110, 10.0)
(100, 2016, 11, 1217, 127110, 154.0)
(100, 2016, 11, 1246, 128200, 18.0)
(100, 2016, 11, 1247, 129150, 4.0)
(100, 2016, 11, 1268, 127110, 63.0)
(100, 2016, 11, 1270, 106110, 127.0)
(100, 2016, 11, 1271, 145130, 2.0)
(100, 2016, 11, 1271, 145170, 4.0)
(100, 2016, 11, 1277, 132170, 9.0)
(100, 2016, 11, 1278, 145130, 14.0)
(100, 2016, 11, 1283, 149140, 42.0)
(100, 2016, 11, 1294, 45110, 42.0)
(100, 2016, 11, 1579, 63130, 50.0)
(100, 2016, 11, 1579, 68230, 16.0)
(100, 2016, 11, 1703, 144180, 12.0)
(101, 2016, 12, 1137, 135120, 16.0)
(101, 2016, 12, 1148, 37110, 29.0)
(101, 2016, 12, 1195, 48110, 316.0)
(101, 2016, 12, 1206, 145160, 15.0)
(101, 2016, 12, 1223, 145170, 3.0)
(101, 2016, 12, 1225, 128140, 31.0)
(101, 2016, 12, 1225, 144150, 23.0)
(101, 2016, 12, 1226, 55110, 1492.0)
(101, 2016, 12, 1238, 149140, 71.0)
(101, 2016, 12, 1245, 145170, 18.0)
(101, 2016, 12, 1255, 28110, 494.0)
(101, 2016, 12, 1255, 124190, 68.0)
(101, 2016, 12, 1258, 128140, 114.0)
(101, 2016, 12, 1260, 26110, 132.0)
(101, 2016, 12, 1271, 130110, 7.0)
(101, 2016, 12, 1272, 21110, 520.0)
(101, 2016, 12, 1272, 129180, 8.0)
(101, 2016, 12, 1272, 154120, 20.0)
(101, 2016, 12, 1277, 132170, 28.0)
(101, 2016, 12, 1278, 149140, 36.0)
(101, 2016, 12, 1279, 144180, 10.0)
(101, 2016, 12, 1282, 29110, 285.0)
(101, 2016, 12, 1282, 97110, 198.0)
(101, 2016, 12, 1537, 63140, 125.0)
(101, 2016, 12, 1615, 92110, 645.0)
(101, 2016, 12, 1663, 125110, 95.0)
(101, 2016, 12, 1685, 144180, 43.0)
(101, 2017, 1, 1137, 79110, 114.0)
(101, 2017, 1, 1137, 124190, 51.0)
(101, 2017, 1, 1137, 135120, 5.0)
(101, 2017, 1, 1148, 99110, 47.0)
(101, 2017, 1, 1149, 132120, 6.0)
(101, 2017, 1, 1201, 128150, 9.0)
(101, 2017, 1, 1205, 127130, 227.0)
(101, 2017, 1, 1213, 149140, 28.0)
(101, 2017, 1, 1216, 147120, 140.0)
(101, 2017, 1, 1225, 18110, 515.0)
(101, 2017, 1, 1226, 50110, 5820.0)
(101, 2017, 1, 1258, 42110, 185.0)
(101, 2017, 1, 1258, 47110, 385.0)
(101, 2017, 1, 1261, 149140, 19.0)
(101, 2017, 1, 1268, 152110, 8.0)
(101, 2017, 1, 1277, 135130, 3.0)
(101, 2017, 1, 1289, 124190, 54.0)
(101, 2017, 1, 1309, 22110, 288.0)
(101, 2017, 1, 1475, 63130, 82.0)
(101, 2017, 1, 1498, 145170, 31.0)
(101, 2017, 1, 1690, 129130, 13.0)
(101, 2017, 1, 1691, 144180, 37.0)
(101, 2017, 1, 1760, 144180, 12.0)
(101, 2017, 2, 1115, 149140, 11.0)
(101, 2017, 2, 1133, 125150, 48.0)
(101, 2017, 2, 1137, 82110, 638.0)
(101, 2017, 2, 1148, 9110, 1417.0)
(101, 2017, 2, 1158, 63140, 87.0)
(101, 2017, 2, 1196, 128200, 38.0)
(101, 2017, 2, 1211, 69120, 23.0)
(101, 2017, 2, 1213, 149130, 9.0)
(101, 2017, 2, 1218, 143120, 46.0)
(101, 2017, 2, 1223, 149130, 35.0)
(101, 2017, 2, 1224, 147120, 34.0)
(101, 2017, 2, 1228, 144170, 28.0)
(101, 2017, 2, 1229, 125150, 5.0)
(101, 2017, 2, 1232, 129130, 5.0)
(101, 2017, 2, 1241, 126140, 24.0)
(101, 2017, 2, 1244, 130110, 10.0)
(101, 2017, 2, 1245, 144180, 3.0)
(101, 2017, 2, 1260, 9110, 1226.0)
(101, 2017, 2, 1261, 126140, 26.0)
(101, 2017, 2, 1272, 39110, 144.0)
(101, 2017, 2, 1272, 70240, 82.0)
(101, 2017, 2, 1278, 135120, 9.0)
(101, 2017, 2, 1279, 65120, 32.0)
(101, 2017, 2, 1282, 132120, 23.0)
(101, 2017, 2, 1289, 108110, 46.0)
(101, 2017, 2, 1311, 57110, 336.0)
(101, 2017, 2, 1507, 11110, 336.0)
(101, 2017, 2, 1662, 144180, 32.0)
(101, 2017, 3, 1133, 128140, 152.0)
(101, 2017, 3, 1150, 11110, 195.0)
(101, 2017, 3, 1192, 111110, 234.0)
(101, 2017, 3, 1195, 125120, 57.0)
(101, 2017, 3, 1200, 127110, 70.0)
(101, 2017, 3, 1204, 147120, 44.0)
(101, 2017, 3, 1204, 151110, 9.0)
(101, 2017, 3, 1217, 129130, 6.0)
(101, 2017, 3, 1218, 129110, 13.0)
(101, 2017, 3, 1223, 127110, 121.0)
(101, 2017, 3, 1223, 151110, 15.0)
(101, 2017, 3, 1225, 135120, 10.0)
(101, 2017, 3, 1225, 147130, 40.0)
(101, 2017, 3, 1225, 152110, 11.0)
(101, 2017, 3, 1232, 144180, 8.0)
(101, 2017, 3, 1258, 44110, 146.0)
(101, 2017, 3, 1259, 132110, 60.0)
(101, 2017, 3, 1260, 99110, 42.0)
(101, 2017, 3, 1261, 147110, 17.0)
(101, 2017, 3, 1274, 145170, 22.0)
(101, 2017, 3, 1277, 126110, 64.0)
(101, 2017, 3, 1278, 25110, 164.0)
(101, 2017, 3, 1279, 69120, 22.0)
(101, 2017, 3, 1280, 149140, 59.0)
(101, 2017, 3, 1283, 149130, 34.0)
(101, 2017, 3, 1289, 124110, 163.0)
(101, 2017, 3, 1289, 129130, 2.0)
(101, 2017, 3, 1405, 128140, 215.0)
(101, 2017, 3, 1467, 22110, 250.0)
(101, 2017, 3, 1526, 145170, 22.0)
(101, 2017, 3, 1676, 144180, 46.0)
(101, 2017, 4, 1135, 145130, 1.0)
(101, 2017, 4, 1137, 26110, 115.0)
(101, 2017, 4, 1137, 127130, 152.0)
(101, 2017, 4, 1195, 149120, 65.0)
(101, 2017, 4, 1201, 127130, 103.0)
(101, 2017, 4, 1213, 149140, 24.0)
(101, 2017, 4, 1226, 124120, 113.0)
(101, 2017, 4, 1237, 51110, 208.0)
(101, 2017, 4, 1237, 126140, 57.0)
(101, 2017, 4, 1237, 147180, 47.0)
(101, 2017, 4, 1247, 147180, 83.0)
(101, 2017, 4, 1257, 132170, 24.0)
(101, 2017, 4, 1270, 111110, 427.0)
(101, 2017, 4, 1272, 79110, 173.0)
(101, 2017, 4, 1272, 110110, 242.0)
(101, 2017, 4, 1311, 132150, 22.0)
(101, 2017, 4, 1424, 129110, 16.0)
(101, 2017, 4, 1496, 144180, 5.0)
(101, 2017, 5, 1134, 144180, 43.0)
(101, 2017, 5, 1137, 9110, 2482.0)
(101, 2017, 5, 1137, 22110, 292.0)
(101, 2017, 5, 1137, 132150, 17.0)
(101, 2017, 5, 1149, 129180, 6.0)
(101, 2017, 5, 1151, 147160, 72.0)
(101, 2017, 5, 1189, 127130, 417.0)
(101, 2017, 5, 1192, 128150, 25.0)
(101, 2017, 5, 1196, 144180, 54.0)
(101, 2017, 5, 1204, 127110, 85.0)
(101, 2017, 5, 1206, 144180, 9.0)
(101, 2017, 5, 1226, 60110, 759.0)
(101, 2017, 5, 1232, 130110, 6.0)
(101, 2017, 5, 1237, 129130, 4.0)
(101, 2017, 5, 1244, 107110, 59.0)
(101, 2017, 5, 1257, 129180, 21.0)
(101, 2017, 5, 1259, 147130, 55.0)
(101, 2017, 5, 1268, 56110, 304.0)
(101, 2017, 5, 1271, 124190, 40.0)
(101, 2017, 5, 1272, 66110, 56.0)
(101, 2017, 5, 1274, 102110, 132.0)
(101, 2017, 5, 1274, 129130, 18.0)
(101, 2017, 5, 1277, 125150, 32.0)
(101, 2017, 5, 1277, 132120, 31.0)
(101, 2017, 5, 1280, 147160, 46.0)
(101, 2017, 5, 1282, 39110, 56.0)
(101, 2017, 5, 1282, 144150, 33.0)
(101, 2017, 5, 1294, 129130, 7.0)
(101, 2017, 5, 1424, 148110, 53.0)
(101, 2017, 6, 1132, 92110, 232.0)
(101, 2017, 6, 1133, 123140, 143.0)
(101, 2017, 6, 1133, 126140, 24.0)
(101, 2017, 6, 1135, 128200, 17.0)
(101, 2017, 6, 1137, 21110, 215.0)
(101, 2017, 6, 1137, 68200, 40.0)
(101, 2017, 6, 1148, 68250, 28.0)
(101, 2017, 6, 1204, 147170, 169.0)
(101, 2017, 6, 1204, 151110, 11.0)

In [114]:
if (conn.is_connected()):
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

MySQL connection is closed

In [ ]:
# import the module
from sqlalchemy import create_engine
#create sqlalchemy engine

In [87]:
# # Create Tables
# query=["CREATE TABLE go_1k (log_date VARCHAR(200), sensor_id VARCHAR(100), temperature VARCHAR(100), vibration VARCHAR(100))",
#            "CREATE TABLE go_daily_sales (equipment_id VARCHAR(100), code VARCHAR(100), group_name VARCHAR(100))",
#            "CREATE TABLE equipment_sensors (equipment_id VARCHAR(100), sensor_id VARCHAR(100))",
#            "CREATE TABLE equipment_sensors (equipment_id VARCHAR(100), sensor_id VARCHAR(100))",

#                "CREATE TABLE go_methods (Year, Jan, Feb, March, April, May, June, July, August, September, October, November, December , sensor_id VARCHAR(100))",

#                    "CREATE TABLE go_products (equipment_id VARCHAR(100), sensor_id VARCHAR(100))",

#                        "CREATE TABLE go_retailers (equipment_id VARCHAR(100), sensor_id VARCHAR(100))",
                
#                 "CREATE TABLE cpi_monthly (equipment_id VARCHAR(100), sensor_id VARCHAR(100))",
                
#                 "CREATE TABLE unemploy_monthly(equipment_id VARCHAR(100), sensor_id VARCHAR(100))",
                
#                 "CREATE TABLE cci_monthly (equipment_id VARCHAR(100), sensor_id VARCHAR(100))"]

#     for i in query:
#         db_cursor.execute(i)
#         db_connection.commit()

In [127]:
#create engine to add data to sql database "Wild_and_Wonderful_Sales" and import records
engine_data = 'mysql+mysqlconnector://' + 'root' + ':' + getpass.getpass(prompt='Password:',stream=None) + '@' + 'localhost' + ':3306/' \
       + 'go_1kDB' + '?charset=utf8mb4'
engine = create_engine(engine_data)

# Insert whole DataFrame into MySQL
go_1k.to_sql('go_1k', con = engine, if_exists = 'append', chunksize = 1000, index=False)

Password:········

-1

In [129]:
# Execute Query
sql = "SELECT * FROM go_1k"
cursor.execute(sql)

# Fetch all records
result = cursor.fetchall()
for i in result:
    print(i)

(1115, 125110, '2016-02-09', 46, 2016, 2)
(1115, 144180, '2016-04-21', 19, 2016, 4)
(1115, 149140, '2017-02-14', 11, 2017, 2)
(1132, 92110, '2017-06-13', 232, 2017, 6)
(1132, 96110, '2018-06-20', 37, 2018, 6)
(1133, 123140, '2017-06-12', 143, 2017, 6)
(1133, 125150, '2017-02-15', 48, 2017, 2)
(1133, 125150, '2018-05-18', 23, 2018, 5)
(1133, 126140, '2017-06-19', 24, 2017, 6)
(1133, 128140, '2017-03-14', 152, 2017, 3)
(1133, 128140, '2017-09-13', 61, 2017, 9)
(1133, 129180, '2017-08-18', 4, 2017, 8)
(1133, 134120, '2015-01-23', 222, 2015, 1)
(1133, 135120, '2018-05-18', 11, 2018, 5)
(1133, 136140, '2017-10-17', 19, 2017, 10)
(1133, 143110, '2015-11-10', 95, 2015, 11)
(1133, 144180, '2016-04-27', 9, 2016, 4)
(1134, 63140, '2016-07-19', 57, 2016, 7)
(1134, 68110, '2017-08-09', 22, 2017, 8)
(1134, 70240, '2017-07-11', 35, 2017, 7)
(1134, 144180, '2017-05-16', 43, 2017, 5)
(1135, 45110, '2018-03-12', 71, 2018, 3)
(1135, 126140, '2016-07-12', 32, 2016, 7)
(1135, 127110, '2015-06-16', 45, 2015, 6)
(1135, 128140, '2016-05-09', 15, 2016, 5)
(1135, 128200, '2017-06-13', 17, 2017, 6)
(1135, 132150, '2018-01-15', 13, 2018, 1)
(1135, 134120, '2015-03-15', 38, 2015, 3)
(1135, 135120, '2015-10-21', 14, 2015, 10)
(1135, 143120, '2016-05-13', 103, 2016, 5)
(1135, 144180, '2015-09-17', 3, 2015, 9)
(1135, 145130, '2017-04-19', 1, 2017, 4)
(1135, 147120, '2016-07-18', 32, 2016, 7)
(1135, 149140, '2017-10-19', 26, 2017, 10)
(1137, 3110, '2016-02-08', 406, 2016, 2)
(1137, 9110, '2017-05-09', 2482, 2017, 5)
(1137, 15110, '2016-01-10', 35, 2016, 1)
(1137, 17110, '2017-09-12', 487, 2017, 9)
(1137, 21110, '2017-06-13', 215, 2017, 6)
(1137, 22110, '2017-05-09', 292, 2017, 5)
(1137, 23110, '2015-02-09', 265, 2015, 2)
(1137, 25110, '2015-01-13', 198, 2015, 1)
(1137, 26110, '2017-04-18', 115, 2017, 4)
(1137, 32110, '2015-04-12', 350, 2015, 4)
(1137, 35110, '2018-07-16', 258, 2018, 7)
(1137, 68120, '2016-08-08', 12, 2016, 8)
(1137, 68200, '2017-06-12', 40, 2017, 6)
(1137, 79110, '2017-01-10', 114, 2017, 1)
(1137, 82110, '2017-02-06', 638, 2017, 2)
(1137, 94110, '2016-09-13', 1402, 2016, 9)
(1137, 112110, '2017-11-07', 765, 2017, 11)
(1137, 122120, '2016-05-10', 84, 2016, 5)
(1137, 122140, '2017-10-19', 13, 2017, 10)
(1137, 123120, '2016-02-15', 151, 2016, 2)
(1137, 124190, '2017-01-09', 51, 2017, 1)
(1137, 125120, '2016-09-16', 26, 2016, 9)
(1137, 126140, '2015-09-17', 120, 2015, 9)
(1137, 126140, '2016-09-16', 79, 2016, 9)
(1137, 126140, '2017-11-17', 136, 2017, 11)
(1137, 127130, '2017-04-12', 152, 2017, 4)
(1137, 128140, '2015-11-12', 101, 2015, 11)
(1137, 128140, '2016-09-13', 69, 2016, 9)
(1137, 128150, '2015-06-14', 19, 2015, 6)
(1137, 128200, '2017-07-20', 15, 2017, 7)
(1137, 132110, '2018-05-16', 32, 2018, 5)
(1137, 132140, '2018-01-16', 6, 2018, 1)
(1137, 132150, '2017-05-08', 17, 2017, 5)
(1137, 135120, '2015-06-15', 8, 2015, 6)
(1137, 135120, '2016-12-22', 16, 2016, 12)
(1137, 135120, '2017-01-12', 5, 2017, 1)
(1137, 144120, '2016-09-14', 27, 2016, 9)
(1137, 144150, '2018-04-20', 9, 2018, 4)
(1137, 144180, '2015-01-14', 21, 2015, 1)
(1137, 147140, '2017-11-13', 35, 2017, 11)
(1137, 147160, '2017-09-11', 73, 2017, 9)
(1137, 148110, '2018-04-19', 69, 2018, 4)
(1137, 148130, '2018-02-12', 127, 2018, 2)
(1137, 149120, '2016-10-14', 60, 2016, 10)
(1137, 149140, '2017-07-18', 41, 2017, 7)
(1137, 154150, '2016-04-15', 44, 2016, 4)
(1137, 154150, '2018-05-07', 30, 2018, 5)
(1147, 77110, '2016-05-20', 23, 2016, 5)
(1147, 84110, '2016-03-10', 128, 2016, 3)
(1147, 84110, '2018-05-18', 415, 2018, 5)
(1147, 100110, '2016-08-17', 103, 2016, 8)
(1147, 125110, '2015-09-08', 109, 2015, 9)
(1147, 128130, '2017-10-20', 17, 2017, 10)
(1147, 128200, '2017-09-22', 59, 2017, 9)
(1147, 129130, '2018-02-05', 3, 2018, 2)
(1147, 129180, '2017-09-21', 22, 2017, 9)
(1147, 131120, '2016-02-18', 59, 2016, 2)
(1147, 144180, '2018-02-09', 6, 2018, 2)
(1147, 151110, '2017-07-19', 40, 2017, 7)
(1148, 9110, '2017-02-09', 1417, 2017, 2)
(1148, 23110, '2015-02-12', 265, 2015, 2)
(1148, 31110, '2015-07-15', 76, 2015, 7)
(1148, 37110, '2016-12-14', 29, 2016, 12)
(1148, 39110, '2015-11-09', 84, 2015, 11)
(1148, 40110, '2015-10-21', 525, 2015, 10)
(1148, 68250, '2017-06-20', 28, 2017, 6)
(1148, 69110, '2017-08-08', 20, 2017, 8)
(1148, 82110, '2015-09-14', 544, 2015, 9)
(1148, 82110, '2016-04-12', 281, 2016, 4)
(1148, 88110, '2015-08-13', 462, 2015, 8)
(1148, 93110, '2015-08-13', 1192, 2015, 8)
(1148, 99110, '2017-01-16', 47, 2017, 1)
(1148, 123120, '2015-07-12', 40, 2015, 7)
(1148, 125110, '2018-06-21', 16, 2018, 6)
(1148, 128140, '2018-07-16', 40, 2018, 7)
(1148, 128150, '2016-05-17', 7, 2016, 5)
(1148, 128200, '2017-07-18', 24, 2017, 7)
(1148, 129180, '2017-10-13', 5, 2017, 10)
(1148, 131120, '2016-07-19', 14, 2016, 7)
(1148, 135110, '2015-05-14', 5, 2015, 5)
(1148, 147150, '2016-08-12', 47, 2016, 8)
(1148, 147160, '2018-04-20', 22, 2018, 4)
(1149, 114110, '2015-08-16', 43, 2015, 8)
(1149, 122120, '2016-06-10', 3, 2016, 6)
(1149, 125120, '2016-09-12', 35, 2016, 9)
(1149, 127130, '2017-11-06', 104, 2017, 11)
(1149, 128140, '2018-06-15', 31, 2018, 6)
(1149, 129180, '2017-05-11', 6, 2017, 5)
(1149, 131130, '2018-06-11', 54, 2018, 6)
(1149, 132120, '2017-01-09', 6, 2017, 1)
(1149, 135120, '2016-01-19', 13, 2016, 1)
(1149, 136130, '2018-02-06', 26, 2018, 2)
(1149, 144150, '2017-09-12', 10, 2017, 9)
(1149, 149140, '2018-01-19', 26, 2018, 1)
(1150, 11110, '2017-03-14', 195, 2017, 3)
(1151, 27110, '2018-02-06', 101, 2018, 2)
(1151, 39110, '2017-07-12', 98, 2017, 7)
(1151, 42110, '2018-05-10', 135, 2018, 5)
(1151, 46110, '2016-02-07', 264, 2016, 2)
(1151, 49110, '2017-08-09', 151, 2017, 8)
(1151, 50110, '2017-11-08', 2560, 2017, 11)
(1151, 51110, '2016-03-08', 170, 2016, 3)
(1151, 51110, '2017-09-13', 250, 2017, 9)
(1151, 55110, '2016-10-11', 170, 2016, 10)
(1151, 56110, '2016-07-14', 91, 2016, 7)
(1151, 126140, '2015-08-20', 38, 2015, 8)
(1151, 129130, '2016-06-08', 29, 2016, 6)
(1151, 147160, '2017-05-15', 72, 2017, 5)
(1158, 63130, '2016-11-08', 72, 2016, 11)
(1158, 63140, '2017-02-16', 87, 2017, 2)
(1158, 65110, '2018-01-19', 44, 2018, 1)
(1158, 68230, '2018-02-06', 88, 2018, 2)
(1158, 70240, '2015-03-12', 75, 2015, 3)
(1189, 126110, '2015-07-14', 119, 2015, 7)
(1189, 127110, '2016-10-12', 279, 2016, 10)
(1189, 127130, '2017-05-11', 417, 2017, 5)
(1189, 127130, '2018-01-19', 305, 2018, 1)
(1189, 129180, '2016-11-10', 26, 2016, 11)
(1189, 132120, '2016-06-06', 21, 2016, 6)
(1189, 143110, '2015-09-17', 131, 2015, 9)
(1189, 144180, '2015-10-12', 35, 2015, 10)
(1189, 145160, '2016-01-10', 23, 2016, 1)
(1189, 149130, '2018-07-20', 34, 2018, 7)
(1190, 122140, '2017-09-20', 89, 2017, 9)
(1190, 124190, '2017-08-08', 91, 2017, 8)
(1190, 129180, '2018-04-19', 16, 2018, 4)
(1190, 136140, '2018-06-19', 126, 2018, 6)
(1190, 144180, '2017-08-15', 19, 2017, 8)
(1190, 145130, '2017-07-19', 1, 2017, 7)
(1192, 9110, '2015-08-11', 1265, 2015, 8)
(1192, 15110, '2017-09-12', 18, 2017, 9)
(1192, 21110, '2018-06-14', 418, 2018, 6)
(1192, 29110, '2015-04-22', 263, 2015, 4)
(1192, 31110, '2016-07-18', 399, 2016, 7)
(1192, 69110, '2016-05-11', 42, 2016, 5)
(1192, 93110, '2017-08-07', 369, 2017, 8)
(1192, 97110, '2016-05-11', 99, 2016, 5)
(1192, 108110, '2017-10-19', 50, 2017, 10)
(1192, 110110, '2016-02-08', 65, 2016, 2)
(1192, 111110, '2017-03-08', 234, 2017, 3)
(1192, 115110, '2016-11-10', 330, 2016, 11)
(1192, 125150, '2018-07-11', 8, 2018, 7)
(1192, 126130, '2015-10-18', 17, 2015, 10)
(1192, 128140, '2016-03-11', 10, 2016, 3)
(1192, 128150, '2017-05-16', 25, 2017, 5)
(1192, 128200, '2018-02-07', 126, 2018, 2)
(1192, 140110, '2015-11-09', 8, 2015, 11)
(1192, 143110, '2015-02-16', 95, 2015, 2)
(1192, 143120, '2015-01-13', 159, 2015, 1)
(1192, 145170, '2018-06-11', 16, 2018, 6)
(1192, 151110, '2018-05-14', 64, 2018, 5)
(1194, 63140, '2017-07-21', 90, 2017, 7)
(1194, 68110, '2016-07-12', 16, 2016, 7)
(1194, 68120, '2018-02-07', 52, 2018, 2)
(1194, 68190, '2017-11-16', 36, 2017, 11)
(1194, 68230, '2016-10-18', 21, 2016, 10)
(1194, 68250, '2018-05-11', 165, 2018, 5)
(1194, 70140, '2018-04-12', 50, 2018, 4)
(1194, 125110, '2016-08-12', 98, 2016, 8)
(1194, 125120, '2015-01-22', 16, 2015, 1)
(1194, 144180, '2016-06-07', 39, 2016, 6)
(1194, 145170, '2016-06-07', 28, 2016, 6)
(1195, 48110, '2016-12-14', 316, 2016, 12)
(1195, 55110, '2017-12-11', 1276, 2017, 12)
(1195, 55110, '2018-02-07', 1799, 2018, 2)
(1195, 55110, '2018-03-07', 2331, 2018, 3)
(1195, 57110, '2016-10-14', 318, 2016, 10)
(1195, 123150, '2018-02-12', 10, 2018, 2)
(1195, 125120, '2017-03-09', 57, 2017, 3)
(1195, 127110, '2016-06-08', 108, 2016, 6)
(1195, 127130, '2017-08-15', 64, 2017, 8)
(1195, 145170, '2016-11-07', 5, 2016, 11)
(1195, 147130, '2017-08-17', 95, 2017, 8)
(1195, 147180, '2017-11-13', 14, 2017, 11)
(1195, 149120, '2017-04-17', 65, 2017, 4)
(1196, 123110, '2016-04-15', 71, 2016, 4)
(1196, 124190, '2015-08-18', 17, 2015, 8)
(1196, 125110, '2016-06-09', 55, 2016, 6)
(1196, 126140, '2015-08-18', 13, 2015, 8)
(1196, 126140, '2015-11-09', 196, 2015, 11)
(1196, 126140, '2016-10-20', 224, 2016, 10)
(1196, 128140, '2017-08-09', 45, 2017, 8)
(1196, 128150, '2017-07-14', 33, 2017, 7)
(1196, 128200, '2017-02-16', 38, 2017, 2)
(1196, 141110, '2015-02-16', 42, 2015, 2)
(1196, 143110, '2015-02-10', 4, 2015, 2)
(1196, 144180, '2017-05-11', 54, 2017, 5)
(1196, 145170, '2015-10-15', 15, 2015, 10)
(1196, 145170, '2017-07-19', 7, 2017, 7)
(1200, 127110, '2016-11-15', 155, 2016, 11)
(1200, 127110, '2017-03-08', 70, 2017, 3)
(1200, 128140, '2015-04-23', 14, 2015, 4)
(1200, 145170, '2016-07-11', 10, 2016, 7)
(1201, 22110, '2015-01-12', 333, 2015, 1)
(1201, 29110, '2015-05-11', 352, 2015, 5)
(1201, 37110, '2016-04-19', 48, 2016, 4)
(1201, 40110, '2015-03-08', 706, 2015, 3)
(1201, 105110, '2016-10-21', 88, 2016, 10)
(1201, 106110, '2016-08-18', 94, 2016, 8)
(1201, 113110, '2016-02-17', 977, 2016, 2)
(1201, 122140, '2018-06-13', 10, 2018, 6)
(1201, 124180, '2018-06-12', 74, 2018, 6)
(1201, 124180, '2018-06-18', 34, 2018, 6)
(1201, 124190, '2015-07-19', 26, 2015, 7)
(1201, 125150, '2018-07-12', 41, 2018, 7)
(1201, 127130, '2017-04-17', 103, 2017, 4)
(1201, 127130, '2017-11-09', 147, 2017, 11)
(1201, 128130, '2018-04-18', 8, 2018, 4)
(1201, 128140, '2015-06-18', 81, 2015, 6)
(1201, 128150, '2017-01-13', 9, 2017, 1)
(1201, 129130, '2016-10-12', 10, 2016, 10)
(1201, 129130, '2018-07-16', 2, 2018, 7)
(1201, 129150, '2018-03-08', 2, 2018, 3)
(1201, 129180, '2017-11-15', 12, 2017, 11)
(1201, 131110, '2016-11-11', 8, 2016, 11)
(1201, 131120, '2016-04-14', 25, 2016, 4)
(1201, 132110, '2016-11-09', 27, 2016, 11)
(1201, 132110, '2016-11-17', 19, 2016, 11)
(1204, 20110, '2015-06-09', 332, 2015, 6)
(1204, 46110, '2016-05-18', 328, 2016, 5)
(1204, 67110, '2018-02-15', 16, 2018, 2)
(1204, 75110, '2017-12-20', 140, 2017, 12)
(1204, 80110, '2018-06-13', 66, 2018, 6)
(1204, 123140, '2017-08-18', 32, 2017, 8)
(1204, 124110, '2018-02-06', 59, 2018, 2)
(1204, 125110, '2016-11-09', 10, 2016, 11)
(1204, 125150, '2017-09-15', 18, 2017, 9)
(1204, 125150, '2018-07-18', 8, 2018, 7)
(1204, 126150, '2018-02-06', 31, 2018, 2)
(1204, 126150, '2018-02-12', 42, 2018, 2)
(1204, 126150, '2018-04-12', 48, 2018, 4)
(1204, 126150, '2018-04-18', 38, 2018, 4)
(1204, 127110, '2017-05-10', 85, 2017, 5)
(1204, 128130, '2018-07-18', 40, 2018, 7)
(1204, 128140, '2017-08-17', 58, 2017, 8)
(1204, 128140, '2018-03-06', 13, 2018, 3)
(1204, 129130, '2017-11-08', 9, 2017, 11)
(1204, 129180, '2016-08-19', 16, 2016, 8)
(1204, 131120, '2018-07-18', 16, 2018, 7)
(1204, 132140, '2017-10-19', 8, 2017, 10)
(1204, 134120, '2018-05-07', 23, 2018, 5)
(1204, 147120, '2017-03-06', 44, 2017, 3)
(1204, 147170, '2017-06-13', 169, 2017, 6)
(1204, 151110, '2017-03-08', 9, 2017, 3)
(1204, 151110, '2017-06-20', 11, 2017, 6)
(1205, 68110, '2017-10-13', 75, 2017, 10)
(1205, 69120, '2018-07-09', 15, 2018, 7)
(1205, 70240, '2016-03-09', 40, 2016, 3)
(1205, 71110, '2017-10-13', 28, 2017, 10)
(1205, 124180, '2018-06-19', 59, 2018, 6)
(1205, 126140, '2015-11-10', 342, 2015, 11)
(1205, 127130, '2017-01-17', 227, 2017, 1)
(1205, 128140, '2018-05-17', 91, 2018, 5)
(1205, 129130, '2017-10-16', 10, 2017, 10)
(1205, 129150, '2017-11-07', 4, 2017, 11)
(1205, 129150, '2018-01-19', 29, 2018, 1)
(1205, 130110, '2017-07-18', 10, 2017, 7)
(1205, 144180, '2015-05-18', 68, 2015, 5)
(1205, 145130, '2017-10-12', 8, 2017, 10)
(1205, 147130, '2017-12-12', 69, 2017, 12)
(1206, 122120, '2016-08-10', 33, 2016, 8)
(1206, 122140, '2017-06-16', 65, 2017, 6)
(1206, 125120, '2016-04-13', 14, 2016, 4)
(1206, 126110, '2016-03-07', 116, 2016, 3)
(1206, 126140, '2018-02-06', 32, 2018, 2)
(1206, 127110, '2017-10-16', 70, 2017, 10)
(1206, 127130, '2017-07-11', 54, 2017, 7)
(1206, 127130, '2018-04-09', 87, 2018, 4)
(1206, 128140, '2017-10-13', 29, 2017, 10)
(1206, 132170, '2016-04-22', 10, 2016, 4)
(1206, 136140, '2015-03-17', 30, 2015, 3)
(1206, 136140, '2017-11-16', 36, 2017, 11)
(1206, 141110, '2015-09-17', 19, 2015, 9)
(1206, 143110, '2016-07-13', 26, 2016, 7)
(1206, 143120, '2015-03-19', 56, 2015, 3)
(1206, 144150, '2015-01-12', 12, 2015, 1)
(1206, 144180, '2016-01-21', 15, 2016, 1)
(1206, 144180, '2017-05-15', 9, 2017, 5)
(1206, 145160, '2016-12-13', 15, 2016, 12)
(1206, 148110, '2016-06-09', 54, 2016, 6)
(1206, 148130, '2017-08-15', 55, 2017, 8)
(1206, 149140, '2017-06-22', 24, 2017, 6)
(1209, 129130, '2017-07-14', 17, 2017, 7)
(1209, 140110, '2016-02-10', 8, 2016, 2)
(1209, 145170, '2016-08-19', 18, 2016, 8)
(1209, 147120, '2015-03-10', 54, 2015, 3)
(1210, 104110, '2017-06-22', 29, 2017, 6)
(1210, 107110, '2017-12-18', 21, 2017, 12)
(1211, 69120, '2017-02-07', 23, 2017, 2)
(1211, 124140, '2015-10-19', 55, 2015, 10)
(1211, 144180, '2017-09-20', 14, 2017, 9)
(1211, 154150, '2015-07-16', 39, 2015, 7)
(1213, 37110, '2016-02-11', 52, 2016, 2)
(1213, 68110, '2016-03-11', 30, 2016, 3)
(1213, 68230, '2017-07-17', 38, 2017, 7)
(1213, 69110, '2016-08-17', 35, 2016, 8)
(1213, 125110, '2015-09-13', 19, 2015, 9)
(1213, 125120, '2015-03-12', 156, 2015, 3)
(1213, 125150, '2016-07-20', 22, 2016, 7)
(1213, 126110, '2015-09-07', 32, 2015, 9)
(1213, 126110, '2016-01-12', 10, 2016, 1)
(1213, 126140, '2015-06-08', 49, 2015, 6)
(1213, 129130, '2016-05-09', 7, 2016, 5)
(1213, 129130, '2017-06-22', 5, 2017, 6)
(1213, 129130, '2017-10-19', 3, 2017, 10)
(1213, 130110, '2016-02-15', 7, 2016, 2)
(1213, 143120, '2017-07-21', 46, 2017, 7)
(1213, 145170, '2017-10-17', 6, 2017, 10)
(1213, 149130, '2017-02-14', 9, 2017, 2)
(1213, 149140, '2017-01-13', 28, 2017, 1)
(1213, 149140, '2017-04-18', 24, 2017, 4)
(1213, 149140, '2017-06-12', 26, 2017, 6)
(1215, 36110, '2017-08-11', 1199, 2017, 8)
(1215, 86110, '2017-12-18', 712, 2017, 12)
(1215, 92110, '2017-07-11', 453, 2017, 7)
(1216, 123120, '2016-07-22', 23, 2016, 7)
(1216, 124140, '2015-07-15', 14, 2015, 7)
(1216, 126110, '2015-08-12', 9, 2015, 8)
(1216, 127130, '2016-10-19', 181, 2016, 10)
(1216, 128150, '2015-06-09', 12, 2015, 6)
(1216, 134120, '2017-12-22', 65, 2017, 12)
(1216, 144180, '2015-12-09', 8, 2015, 12)
(1216, 144180, '2016-05-10', 7, 2016, 5)
(1216, 144180, '2016-06-06', 9, 2016, 6)
(1216, 145170, '2015-07-22', 2, 2015, 7)
(1216, 147120, '2015-03-17', 38, 2015, 3)
(1216, 147120, '2015-11-09', 61, 2015, 11)
(1216, 147120, '2017-01-11', 140, 2017, 1)
(1216, 147160, '2015-06-09', 34, 2015, 6)
(1216, 147160, '2015-07-20', 36, 2015, 7)
(1216, 147170, '2016-07-13', 15, 2016, 7)
(1217, 127110, '2016-11-11', 154, 2016, 11)
(1217, 128200, '2018-06-21', 87, 2018, 6)
(1217, 129130, '2017-03-15', 6, 2017, 3)
(1217, 129130, '2018-06-21', 26, 2018, 6)
(1217, 129150, '2018-06-11', 5, 2018, 6)
(1217, 132170, '2017-11-13', 30, 2017, 11)
(1217, 144180, '2017-06-21', 33, 2017, 6)
(1217, 147110, '2018-02-15', 44, 2018, 2)
(1218, 124190, '2015-01-21', 37, 2015, 1)
(1218, 125110, '2018-07-19', 10, 2018, 7)
(1218, 126110, '2015-11-15', 24, 2015, 11)
(1218, 126140, '2015-12-15', 28, 2015, 12)
(1218, 127130, '2017-06-12', 80, 2017, 6)
(1218, 127130, '2017-12-22', 89, 2017, 12)
(1218, 128200, '2017-06-15', 37, 2017, 6)
(1218, 129110, '2017-03-14', 13, 2017, 3)
(1218, 129110, '2018-06-21', 9, 2018, 6)
(1218, 129150, '2016-10-10', 11, 2016, 10)
(1218, 131120, '2015-05-20', 31, 2015, 5)
(1218, 132150, '2017-09-12', 18, 2017, 9)
(1218, 136130, '2017-11-15', 125, 2017, 11)
(1218, 136130, '2018-06-21', 43, 2018, 6)
(1218, 143120, '2017-02-10', 46, 2017, 2)
(1218, 144120, '2015-10-12', 20, 2015, 10)
(1218, 147110, '2018-01-18', 83, 2018, 1)
(1218, 147120, '2017-12-14', 35, 2017, 12)
(1218, 147150, '2015-08-09', 99, 2015, 8)
(1218, 147180, '2015-08-13', 132, 2015, 8)
(1218, 149120, '2018-05-17', 17, 2018, 5)
(1218, 149140, '2017-12-22', 43, 2017, 12)
(1220, 145170, '2015-07-13', 30, 2015, 7)
(1223, 124130, '2015-11-17', 58, 2015, 11)
(1223, 125110, '2015-04-22', 22, 2015, 4)
(1223, 125120, '2017-09-22', 7, 2017, 9)
(1223, 125150, '2017-11-16', 8, 2017, 11)
(1223, 125160, '2017-10-20', 5, 2017, 10)
(1223, 126150, '2017-12-22', 17, 2017, 12)
(1223, 127110, '2017-03-07', 121, 2017, 3)
(1223, 127130, '2017-10-13', 47, 2017, 10)
(1223, 128130, '2017-12-22', 35, 2017, 12)
(1223, 128140, '2017-08-17', 49, 2017, 8)
(1223, 131110, '2018-03-14', 12, 2018, 3)
(1223, 132110, '2015-12-16', 27, 2015, 12)
(1223, 132170, '2018-02-13', 16, 2018, 2)
(1223, 135110, '2018-01-15', 4, 2018, 1)
(1223, 135120, '2017-06-13', 5, 2017, 6)
(1223, 145170, '2015-01-23', 2, 2015, 1)
(1223, 145170, '2016-10-18', 1, 2016, 10)
(1223, 145170, '2016-12-22', 3, 2016, 12)
(1223, 146110, '2018-01-15', 8, 2018, 1)
(1223, 147160, '2017-10-20', 19, 2017, 10)
(1223, 148120, '2018-03-12', 26, 2018, 3)
(1223, 149130, '2017-02-15', 35, 2017, 2)
(1223, 151110, '2017-03-14', 15, 2017, 3)
(1223, 153110, '2018-06-20', 3, 2018, 6)
(1224, 125150, '2017-09-20', 28, 2017, 9)
(1224, 126110, '2015-12-15', 50, 2015, 12)
(1224, 147120, '2017-02-13', 34, 2017, 2)
(1224, 148120, '2017-07-13', 19, 2017, 7)
(1224, 148130, '2018-03-14', 61, 2018, 3)
(1225, 7110, '2016-10-10', 465, 2016, 10)
(1225, 18110, '2017-01-09', 515, 2017, 1)
(1225, 104110, '2016-10-10', 39, 2016, 10)
(1225, 115110, '2016-10-10', 407, 2016, 10)
(1225, 122140, '2018-02-09', 16, 2018, 2)
(1225, 126110, '2018-01-10', 16, 2018, 1)
(1225, 127130, '2016-06-09', 43, 2016, 6)
(1225, 127130, '2017-08-11', 168, 2017, 8)
(1225, 128140, '2016-12-14', 31, 2016, 12)
(1225, 128200, '2018-02-06', 55, 2018, 2)
(1225, 132120, '2016-04-11', 11, 2016, 4)
(1225, 135120, '2017-03-16', 10, 2017, 3)
(1225, 136130, '2018-06-20', 70, 2018, 6)
(1225, 140110, '2016-01-13', 10, 2016, 1)
(1225, 141110, '2016-08-08', 11, 2016, 8)
(1225, 143110, '2016-07-20', 31, 2016, 7)
(1225, 144150, '2016-12-14', 23, 2016, 12)
(1225, 144180, '2015-12-09', 20, 2015, 12)
(1225, 145160, '2016-01-13', 11, 2016, 1)
(1225, 145170, '2015-10-15', 5, 2015, 10)
(1225, 147130, '2016-09-12', 51, 2016, 9)
(1225, 147130, '2017-03-13', 40, 2017, 3)
(1225, 152110, '2017-03-08', 11, 2017, 3)
(1226, 1110, '2015-10-21', 2107, 2015, 10)
(1226, 27110, '2017-09-19', 168, 2017, 9)
(1226, 44110, '2018-07-11', 305, 2018, 7)
(1226, 48110, '2016-10-12', 296, 2016, 10)
(1226, 49110, '2018-05-08', 529, 2018, 5)
(1226, 50110, '2017-01-10', 5820, 2017, 1)
(1226, 54110, '2016-01-19', 350, 2016, 1)
(1226, 55110, '2016-12-13', 1492, 2016, 12)
(1226, 60110, '2017-05-12', 759, 2017, 5)
(1226, 124120, '2017-04-20', 113, 2017, 4)
(1226, 128200, '2018-03-14', 84, 2018, 3)
(1226, 128210, '2018-02-15', 27, 2018, 2)
(1226, 143140, '2018-07-13', 42, 2018, 7)
(1226, 144150, '2016-02-15', 33, 2016, 2)
(1227, 115110, '2015-04-20', 1331, 2015, 4)
(1228, 15110, '2018-05-16', 58, 2018, 5)
(1228, 129150, '2018-06-14', 3, 2018, 6)
(1228, 135130, '2017-10-10', 38, 2017, 10)
(1228, 144170, '2017-02-17', 28, 2017, 2)
(1228, 144180, '2016-04-19', 6, 2016, 4)
(1229, 106110, '2015-02-12', 38, 2015, 2)
(1229, 106110, '2016-09-20', 67, 2016, 9)
(1229, 107110, '2015-11-09', 40, 2015, 11)
(1229, 125150, '2017-02-10', 5, 2017, 2)
(1229, 126110, '2016-06-08', 27, 2016, 6)
(1229, 126140, '2016-05-09', 72, 2016, 5)
(1229, 126140, '2018-06-15', 44, 2018, 6)

In [89]:
# Execute the to_sql for writting DF into SQL and add to database
go_1k.to_sql('go_1k', engine, if_exists='append', index=False) 
go_daily_sales.to_sql('go_daily_sales', engine, if_exists='append', index=False) 
go_methods.to_sql('go_methods', engine, if_exists='append', index=False) 
go_products.to_sql('go_products', engine, if_exists='append', index=False) 
go_retailers.to_sql('go_retailers', engine, if_exists='append', index=False) 
cpi_monthly.to_sql('cpi_monthly', engine, if_exists = 'append', index=False)
unemploy_monthly.to_sql('unemploy_monthly', engine, if_exists = 'append', index=False)
cci_monthly.to_sql('cci_monthly', engine, if_exists = 'append', index=False)

-1

In [90]:
#update connection to use Wild and Wonderful Sales database
connection = mysql.connect(host='localhost',
                         user='root',
                         password=getpass.getpass(prompt='Password:',stream=None),
                         database='Wild_and_Wonderful_Sales')

Password:········

In [91]:
################################################################
# RETRIEVING THE RECORDS
################################################################

In [92]:
connection.close()